#container {
  width: 900px;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: none;
}

.square {
  background: grey;
}

.draw {
  background: black;
}
